@font-face{
  font-family:'YS Text';font-weight:400;font-style:normal;font-stretch:normal;
  src:url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff2) format('woff2'),
  url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff) format('woff')
}
@font-face{
  font-family:'YS Text';font-weight:500;font-style:normal;font-stretch:normal;
src:url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff2) format('woff2'),
url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff) format('woff')
}
@font-face{
  font-family:'YS Text';font-weight:700;font-style:normal;font-stretch:normal;
  src:url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff2) format('woff2'),
  url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff) format('woff')
}

:root {
  --color-bg-action: #FFCC00;
  --color-bg-control: #E6E6E6;
  --color-bg-action-hovered: #F2C200;
  --color-bg-control-hovered: #DBDBDB;
  --color-bg-control: #E6E6E6;
  --color-bg-disabled: #F2F2F2;
  --blue-grey-500: #7F8285;
}

body {
  height: 100%;
  font-family:'YS Text','Helvetica Neue',Arial,sans-serif;
  -webkit-font-feature-settings:'liga','kern';
  -moz-font-feature-settings:'liga','kern';
  font-feature-settings:'liga','kern'
}
input {
  background: #FFFFFF;
  border: 2px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
  height: 36px;
  padding: 0 13px;
  font-size: 13px;
  font-family: 'YS Text';
}
a {
  text-decoration: none;
  color: var(--blue-grey-500);
}
a:hover {
  color: red;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  grid-gap: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  align-items: center;
  color: var(--blue-grey-500);
  padding: 0px 10%;
}
.header h2 {
  font-size: 24px;
}
.header.history {
  color: black;
}
.header.history h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer {
  background: #F0F2F3;
  height: 32px;
  padding: 0px 10%;
  display: flex;
  color: var(--blue-grey-500);
  font-size: 13px;
  align-items: center;
  justify-content: space-between;
}
.footer .flex-box {
  display: flex;
  column-gap: 20px;
}
.btn {
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  height: 36px;
  border: 2px solid transparent;
}
.btn.b-cancel {border: 1px solid rgba(0, 0, 0, 0.2);}
.btn.yellow {background: var(--color-bg-action)}
.btn.yellow:hover {cursor: pointer; background: var(--color-bg-action-hovered);}
.btn.yellow:focus {background: var(--color-bg-action); border: 2px solid #B38F00;}
.btn.default {background: var(--color-bg-control)}
.btn.default:hover {cursor: pointer; background: var(--color-bg-control-hovered);}
.btn.default:focus {border: 2px solid #B3B3B3;}
.btn:disabled, .btn[disabled] {background: var(--color-bg-disabled);}
.btns-pair {
  display: flex;
  column-gap: 5px;
}
.btns-svg {
  display: flex;
  column-gap: 5px;
}
.main-start{
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10%;
  align-items: center;
}
.main-start p {
  width: 50%;
}
.input-section {
  display: flex;
  align-items: center;
}
.input-section input {
  min-width: 60%;
}
.input-section button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  right: 25px;
  position: relative;
}
.error {
  font-size: 12px;
  color: red;
}
input[type=number] {
  -moz-appearance:textfield;
  width: 60px;
  margin: 0 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
label span {
  color: red;
}
.main-history {
  text-align: center;
  flex-grow: 1;
  padding: 0px 10%;
}
.history-list {
  display: flex;
  flex-direction: column;
}
.settings-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
}
.settings-container > p {
  color: var(--blue-grey-500);
}
.flex-pair {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.item-wrapper {
  display: flex;
  box-shadow: 0px 0px 1px rgb(67 68 69 / 30%),
  0px 1px 1px rgb(67 68 69 / 30%);
  border-radius: 6px;
  margin: 5px 0px;
  padding: 5px 30px;
  justify-content: space-between;
}
.item-wrapper:hover {
  box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3),
  0px 2px 8px rgba(67, 68, 69, 0.3);
  cursor: pointer;
}
.item-wrapper > div > svg {
  position: relative;
  right: 10px;
  float: left;
}
.item-wrapper .descr {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-wrapper .hashnum {
  font-size: 18px;
  font-weight: 500;
}
.item-wrapper .branch {
  font-size: 13px;
}
.item-wrapper .author {
  font-size: 13px;
}
.item-wrapper .item-info {
  min-width: 30%;
}
.item-wrapper .time-keeper {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  column-gap: 10px;
  min-width: 98px;
}
.item-wrapper .time-keeper svg {
  margin-right: 5px;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal input {
  min-width: 100%;
}
.modal-content {
  min-width: 40%;
  border-radius: 6px;
  padding: 10px 20px;
  background-color: white
}

@media screen and (max-width: 900px) {
  .btn.default #play, .btn.default #cog {
    display: none;
  }
}

@media screen and (max-width: 590px) {
  .footer {
    flex-direction: column;
    align-items: baseline;
    padding: 10px 10%;
    grid-gap: 5px;
  }
  .main-start p {
    width: auto;
  }
  .settings-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
  }
  .input-section input {
    min-width: 100%;
  }
  .btns-pair {
    flex-direction: column;
    grid-gap: 10px;
  }
  .btn {
    display: block;
  }
  .header.history  {
    align-items: baseline;
  }
  .header.history h2 {
    white-space: unset;
  }
  .header h2 {
    font-size: 18px;
  }
  .item-wrapper {
    flex-direction: column;
    grid-gap: 10px;
  }
  .flex-pair {
    flex-direction: column;
    align-items: baseline;
    grid-gap: 5px;
  }
  .item-wrapper .hashnum {
    font-size: 16px;
  }
  .item-wrapper .descr {
    text-align: initial;
    white-space: unset;
    word-break: break-all;
  }
  .item-wrapper .time-keeper {
    flex-direction: row;
    justify-content: initial;
    border-top: 1px solid #F0F2F3;
    padding-top: 5px;
  }
  .item-wrapper > div > svg {
    left: 0px;
    margin-left: -20px;
    width: 16px;
    height: 16px;
  }
}